:root {
	--color-black     : #25171A;
	--color-primary   : #5E5297;
	--color-secondary : #AEAED6;
	--color-white     : #E4E4F1;
}


* {
	box-sizing : border-box;
	margin     : 0;
}


html {
	background-color : var(--color-white);
	color            : var(--color-black);
	font-family      : sans-serif;
	margin           : 0 auto;
	max-width        : fit-content;
}


.title {
	background-color : var(--color-primary);
	color            : var(--color-white);
	display          : flex;
	justify-content  : space-between;
	padding          : 2rem;
}


p.author {
	align-self : end;
}


p.blurb {
	animation     : 0.5s linear 0s 1 normal grab-attention;
	border        : 4px solid transparent;
	border-radius : 1rem;
	margin        : 0.2rem auto;
	padding       : 0.5rem;
}


@keyframes grab-attention {
	0% {
		color : transparent;
	}

	100% {
		color : var(--color-black);
	}
}


a.bookmark {
	float : right;
}


#grid-form {
	background-color : var(--color-secondary);
	border           : none;
	border-radius    : 0;
	box-shadow       : none;
	display          : flex;
	flex-direction   : column;
	justify-content  : space-around;
	max-height       : 150vw;
	max-width        : 100vw;
	overflow         : hidden;
	padding-top      : 2vh;

	width            : 100vw;
}


fieldset.grid-row {
	align-self : center;
	border     : none;
	display    : block;
	margin     : 0.5vh;

	padding    : 0 2vw;
}


/*
Adds underlining to the bottom
of every third grid row, except the last
 */
fieldset.grid-row:nth-child(3n):not(:last-of-type) {
	border-bottom  : 1px dotted var(--color-primary);
	margin-bottom  : 2vh;
	padding-bottom : 2vh;
}


span.grid-cell {
	display : table-cell;
}


span > input {
	background-color : var(--color-secondary);
	border           : none;
	font-size        : 1.8rem;
	margin           : 1vh 1vw;
	text-align       : center;
}


/* For really small screen sizes the font needs a tweak */
@media (max-width : 20em) {
	span > input {
		font-size : 1.2rem;
	}
}


span:nth-child(3n+4):not(:last-child) {
	border-left  : 1px dotted var(--color-primary);
	padding-left : 3vw;
}


button {
	background-color : var(--color-primary);
	border           : none;
	border-color     : var(--color-primary);
	border-radius    : 0.5rem;
	bottom           : -5rem;
	box-shadow       : 0.05rem 0.05rem 0.3rem var(--color-black);
	color            : var(--color-white);
	height           : max-content;
	margin           : 5vh;
	padding          : 1rem;
	transition       : all ease-in 0.1s;
	width            : calc(100% - 10vh);
}


button:hover,
button:focus {
	background-color : var(--color-primary);
	color            : var(--color-white);
	transform        : translateY(-1px);
}


button:active {
	transform : translateY(1px);
}


footer {
	background-color : var(--color-white);
	color            : var(--color-primary);
	display          : flex;
	justify-content  : space-around;
	margin-top       : 5vh;
	padding          : 1vh;
}


@media (min-width : 65em) {

	.title {
		border-bottom-left-radius  : 0.75rem;
		border-bottom-right-radius : 0.75rem;
		padding                    : 2rem;
	}


	p.blurb {
		margin : 0.8rem;
	}


	#grid-form {
		border        : 2px solid var(--color-primary);
		border-radius : 1rem;
		box-shadow    : 0.05rem 0.05rem 0.3rem var(--color-black);
		max-width     : fit-content;
		width         : 80vw;
	}


	span:nth-child(3n+4):not(:last-child) {
		padding-left : 1vw;
	}


	footer {
		border-top-left-radius  : 0.75rem;
		border-top-right-radius : 0.75rem;
		margin-top              : 5vh;
	}
}