:root {
    --font-color: #25171A;
    --border-color: #5E5297;
    --background-grid: #AEAED6;
    --background-main: #E4E4F1;
}

html {
    font-family: sans-serif;
    color: var(--font-color);
    background-color: var(--background-main);
}

.title {
    display: flex;
    justify-content: space-between;
    background-color: var(--border-color);
    color: var(--background-main);
    border-radius: 0.75rem;
    padding: 1rem;
}

p.author {
    align-self: end;
}

.blurb {
    margin: 2rem;
}
div.grid-full {
    display: table;
    margin: 2rem auto;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    padding: 1rem 0.4rem;
    background-color: var(--background-grid);
    box-shadow: 0.05rem 0.05rem 0.3rem var(--font-color);
}

fieldset.grid-row {
    display: table-row;
    margin: 0;
    border: none;
}

fieldset.grid-row:nth-child(3n):not(:last-child) {
    padding-bottom: 1.4rem;
    margin-bottom: 1.4rem;
    border-bottom: 1px solid;
    border-color: var(--border-color);
}

span.grid-cell {
    display: table-cell;
}

span > input {
    border: none;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--background-grid);
}

span:nth-child(3n+4):not(:last-child) {
    border-left: 1px solid var(--border-color);
    padding-left: 1rem;
}

span > input:nth-child(2n) {
    background-color: var(--background-main);
}

button {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    border-color: var(--border-color);
    background-color: var(--background-grid);
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.05rem 0.3rem var(--font-color);
    transition: all ease-in 0.1s;
}

button:hover,
button:target {
    transform: translateY(-1px);
    background-color: var(--border-color);
    border-color: var(--background-grid);
    color: var(--background-main);
}

button.reset {
    display: none;
}

footer {
    margin-top: 1rem;
    text-align: right;
}