:root {
    --font-color: #25171A;
    --border-color: #5E5297;
    --background-grid: #AEAED6;
    --background-main: #E4E4F1;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: sans-serif;
    color: var(--font-color);
    background-color: var(--background-main);
    max-width: fit-content;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: space-between;
    background-color: var(--border-color);
    color: var(--background-main);
    padding: 2rem;
}

p.author {
    align-self: end;
}

p.blurb {
    margin: 1rem auto;
    padding-left: 2rem;
}

#grid-form {
    width: 100vw;
    max-width: 100vw;
    max-height: 150vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-top: 2vh;

    background-color: var(--background-grid);

    border: none;
    border-radius: 0;
    box-shadow: none;
}

fieldset.grid-row {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    margin: 0.5vh;
    border: none;
}

/*
Adds underlining to the bottom
of every third grid row, except the last
 */
fieldset.grid-row:nth-child(3n):not(:last-of-type) {
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border-bottom: 1px dotted var(--border-color);
}

span.grid-cell {
    display: table-cell;
}

span > input {
border: none;
font-size: 1.8rem;
text-align: center;
padding: 1vh;
background-color: var(--background-grid);
}

/* For really small screen sizes the font needs a tweak */
@media (max-width: 20em) {
    span > input {
        font-size: 1.2rem;
    }
}

span:nth-child(3n+4):not(:last-child) {
    border-left: 1px dotted var(--border-color);
    padding-left: 5vw;
}

button {
    padding: 0.8rem;
    align-self: center;
    width: max-content;
    margin: 5vh;
    border-radius: 0.5rem;
    border: none;
    transition: all ease-in 0.1s;
    background-color: var(--background-grid);
}

button.primary {
    width: calc(100% - 10vh);
    padding: 1rem;
    box-shadow: 0.05rem 0.05rem 0.3rem var(--font-color);
    border-color: var(--border-color);
    background-color: var(--border-color);
    color: var(--background-main);
}

button:hover,
button:focus {
    transform: translateY(-1px);
    background-color: var(--border-color);
    color: var(--background-main);
}

button:active {
    transform: translateY(1px);
}

button.reset {
    display: none;
}

footer {
    display: flex;
    justify-content: space-around;

    margin-top: 5vh;
    padding: 1vh;

    background-color: var(--background-main);
    color: var(--border-color);
}

@media (min-width: 65em) {

    .title {
        border-bottom-left-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
        padding: 2rem;
    }

    p.blurb {
        margin: 2rem;
    }

    #grid-form {
        width: 80vw;
        max-width: 50em;
        border: 2px solid var(--border-color);
        border-radius: 1rem;
        box-shadow: 0.05rem 0.05rem 0.3rem var(--font-color);
    }

    span:nth-child(3n+4):not(:last-child) {
        padding-left: 1vw;
    }

    .verify {
        background: rebeccapurple;
    }

    footer {
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        margin-top: 5vh;
    }
}